<%= form_with(model: post) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!-- <div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div> -->
<div class="field d-flex flex-column align-items-center justify-content-start">
  <div style="width:100%">
    <%= form.label :title %>
  </div>
  <div style="width:100%">
    <%= form.text_field :title %>
  </div>
</div>
<div class="field d-flex flex-column align-items-center justify-content-start">
  <div style="width:100%">
    <%= form.label :body %>
  </div>
  <div style="width:100%; ">
    <%= form.text_area :body,style:"width:100%;" %>
  </div>
</div>

<div class="actions d-flex justify-content-center">
  <%= form.submit "Log in" ,class: "btn btn-secondary",style:"width:100%;" %>
</div>
<% end %>